<h1>CPU Info</h1>

<table border="1">
  {{#each this}}
    <tr>
      <th style="padding: 0 10px; text-align: left;">{{ key }}</th>
      <td style="padding: 10px; text-align: right">{{ value }}</td>
    </tr>
  {{/each}}
</table>
