<!DOCTYPE html>
<html lang="en" style="margin: 0;height: 100%;">
  <head>
    <meta charset="utf-8" />
    <title>Socket.io Response tester</title>
  </head>
  <body style="margin: 0;height: 100%;position: absolute;top: 0;width: 100%;">
    <div style="height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      {{{ body }}}
    </div>
  </body>
</html>
