<div>
  Italic:
  <br/>
  <div>
    {{italic toBeItalic}}
  </div>
</div>

<br/>
<br/>

<div>
  Frame:
  <br/>
  <div>
    {{#frame}}
      {{ toBeFramed }}
    {{/frame}}
  </div>
</div>

<br/>
<br/>

<div>
  Italic with frame:
  <br/>
  <div>
    {{#frame}}
      {{italic toBeItalicWithFrame}}
    {{/frame}}
  </div>
</div>
