<h1 style="margin: 20px;">FooBar tester</h1>

<!-- Implement your form BELOW -->

<form>
    <input type="number">
    <button>submit</button>
</form>

<h3>Response: <span></span></h3>
<div id="response-container" style="text-align: center"></div>

<script src="/client.js" type="text/javascript"></script>

