<h1>
  Log In
</h1>

<form name="login" method="post" action="/login">
  <table>
    <tr>
      <td>
        <b><label for="email">Email:</label></b>
      </td>
      <td>
        <input type="email" id="email" name="username"/>
      </td>
    </tr>
    <tr>
      <td>
        <b><label for="password">Password:</label></b>
      </td>
      <td>
        <input type="password" id="password" name="password"/>
      </td>
    </tr>
  </table>
  <button type="submit">Log In</button>
</form>
