<h1 style="margin: 20px;">Welcome to The Room!</h1>

<form id="request-sender">
  <label for="name">Your name:</label>
  <input id="name" name="name" type="text" required>
  <button type="submit">Send!</button>
</form>

<h3>Response: </h3>
<div id="response-container" style="text-align: center"></div>

<script src="/client.js" type="text/javascript"></script>

